.mars3d-locationbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    overflow: hidden;
    &::before{
        content: "";
    }
    &-content{
        height: 32px;
        line-height: 32px;
        font-size: 14px;
    }
}
