.screen-menu-popper {
    background-color: rgba(10, 11, 51, 0.7) !important;
    max-height: 430px;
    overflow: auto;

    &.screen-menu {
        width: 100%;
        box-sizing: border-box;
        cursor: pointer; //鼠标变手
    }
}