.tabs {
    width: 100%;
    height: 100%;
    position: relative;
}

.tabs-head {
    padding: 5px 0 10px 5px;
}

.default {
    display: flex;
    overflow-x: auto;
}

::-webkit-scrollbar {
    display: none;
}

.is-show-place {
    margin: 0 30px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.icon-left {
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: 5px;
    top: 12px;
    cursor: pointer;
}

.icon-right {
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 12px;
    cursor: pointer;
}

.icon-left:hover {
    color: #0EC2F5;
}

.icon-right:hover {
    color: #0EC2F5;
}